<div class = "container">
    <img class='pokemon-logo img-fluid' src="assets/images/pokemon-logo-black-transparent-cropped.png">
    <hr/>

    <h1>Teams</h1>

    <h2>Main</h2>


    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    
    <div class="row" *ngIf="pokemon">
        <div class="pokemon col-md-4" *ngFor="let p of pokemon">
            <div class="card">
                <img class="card-img-top" src="{{p.spriteUrl}}" alt="...">
                <div class="card-body">
                    <p class="card-text">#{{p.id}}</p>
                    <p class="card-text">{{p.name}}</p>
                </div>
            </div>  
        </div>
    </div>

</div>
